@import "../../../node_modules/mu-utils/main.scss";
@import "../variables.scss";

// #region PRE-FLIGHT
$mu-screens: (
	sm: $small-screen + 1,
	md: $medium-screen + 1,
	lg: $large-screen + 1
) !global;

$grid-base: 4px;

$spacing: (
	0: 0,
	px: 1px,
	half: $grid-base / 2,
	//2px
		1: $grid-base,
	//4px
		2: $grid-base * 2,
	//8px
		3: $grid-base * 3,
	//12px
		4: $grid-base * 4,
	//16px
		5: $grid-base * 5,
	//20px
		6: $grid-base * 6,
	//24px
		7: $grid-base * 7,
	//28px
		8: $grid-base * 8,
	//32px
		9: $grid-base * 9,
	//36px
		10: $grid-base * 10,
	//40px
		12: $grid-base * 12,
	//48px
		14: $grid-base * 14,
	//56px
		15: $grid-base * 15,
	//60px
		16: $grid-base * 16,
	//64px
		18: $grid-base * 18,
	//72px
		20: $grid-base * 20,
	//80px
		21: $grid-base * 21,
	//84px
		22: $grid-base * 22,
	//88
		24: $grid-base * 24,
	//96px
		26: $grid-base * 26,
	//104px
		28: $grid-base * 28,
	//112px
		30: $grid-base * 30,
	//116px
		32: $grid-base * 32,
	//128px
		34: $grid-base * 34,
	//132px
		40: $grid-base * 40,
	//160px
		48: $grid-base * 48,
	//192px
		56: $grid-base * 56,
	//224px
		64: $grid-base * 64,
	//256px
		66: $grid-base * 66,
	//264px
		70: $grid-base * 70,
	//280px
		86: $grid-base * 86,
	//344px
		90: $grid-base * 90,
	//360px
		auto: auto
);

$sizing: map-merge(
	$spacing,
	(
		1\%2: 100% / 2,
		1\%3: 100% / 3,
		2\%3: 100% * 2 / 3,
		1\%4: 100% / 4,
		3\%4: 100% * 3 / 4,
		1\%5: 100% / 5,
		2\%5: 100% * 2 / 5,
		3\%5: 100% * 3 / 5,
		4\%5: 100% * 4 / 5,
		1\%6: 100% / 6,
		5\%6: 100% * 5 / 6,
		1\%12: 100% / 12,
		5\%12: 100% * 5 / 12,
		7\%12: 100% * 7 / 12,
		11\%12: 100% * 11 / 12,
		full: 100%
	)
);

$font-families: (
	montserrat: var(--theme-font-family-montserrat),
	pt-sans: var(--theme-font-family-pt-sans)
);

$border-radiuses: (
	none: 0,
	sm: 2px,
	"": 4px,
	md: 6px,
	lg: 8px,
	xl: 10px,
	2xl: 20px,
	5xl: 50px,
	full: 9999px
);

$opacities: (
	0: 0,
	4: .04,
	8: .08,
	12: .12,
	16: .16,
	24: .24,
	32: .32,
	38: .38,
	60: .6,
	87: .87,
	100: 100,
);
// #endregion PRE-FLIGHT

// #region LAYOUT
@include mu-container((), map-keys($mu-screens));
@include mu-display((), map-keys($mu-screens));
@include mu-float((), map-keys($mu-screens));
@include mu-overflow((), map-keys($mu-screens));
@include mu-position((), map-keys($mu-screens));
@include mu-pin((), map-keys($mu-screens));
@include mu-z-index((), map-keys($mu-screens));
@include mu-box-sizing();
// #endregion LAYOUT

// #region TYPOGRAPHY
@include mu-font-style();
@include mu-font-weight((hover, focus, active, group-hover, group-active), map-keys($mu-screens));
@include mu-letter-spacing();
@include mu-line-height((), map-keys($mu-screens));
@include mu-list-style-type();
@include mu-list-style-position();
@include mu-text-align((), map-keys($mu-screens));
@include mu-text-decoration((hover, focus, active, group-hover, group-active));
@include mu-text-transform((), map-keys($mu-screens));
@include mu-vertical-align();
@include mu-whitespace((), map-keys($mu-screens));
@include mu-word-break((hover), map-keys($mu-screens));
// #endregion TYPOGRAPHY

// #region BACKGROUNDS
@include mu-background-attachment();
@include mu-background-repeat();
@include mu-background-size();
// #endregion BACKGROUNDS

// #region BORDERS
@include mu-border-style();
@include mu-border-width((), ());
@include mu-border-radius((),(), $border-radiuses);
// #endregion BORDERS

// #region FLEXBOX
@include mu-flex-direction((), map-keys($mu-screens));
@include mu-flex-wrap((), map-keys($mu-screens));
@include mu-align-items((), map-keys($mu-screens));
@include mu-align-content((), map-keys($mu-screens));
@include mu-justify-content((), map-keys($mu-screens));
@include mu-flex((), map-keys($mu-screens));
@include mu-flex-grow((), map-keys($mu-screens));
@include mu-flex-shrink((), map-keys($mu-screens));
@include mu-order((), map-keys($mu-screens));
@include mu-align-self((), map-keys($mu-screens));
// #endregion FLEXBOX

// #region SPACING
@include mu-padding((), map-keys($mu-screens), $spacing);
@include mu-margin((), map-keys($mu-screens), $spacing);
// #endregion SPACING

// #region SIZING
@include mu-width(
	(),
	map-keys($mu-screens),
	map-merge(
		$sizing,
		(
			screen: 100vw
		)
	)
);
@include mu-min-width(
	(),
	map-keys($mu-screens),
	map-merge(
		$sizing,
		(
			screen: 100vw
		)
	)
);
@include mu-max-width(
	(),
	map-keys($mu-screens),
	map-merge(
		$sizing,
		(
			screen: 100vw
		)
	)
);
@include mu-height(
	(),
	(),
	map-merge(
		$sizing,
		(
			screen: 100vh
		)
	)
);
@include mu-min-height(
	(),
	(),
	map-merge(
		$sizing,
		(
			screen: 100vh
		)
	)
);
@include mu-max-height(
	(),
	(),
	map-merge(
		$sizing,
		(
			screen: 100vh
		)
	)
);
@include mu-min-height((), (), map-merge($spacing, $sizing));
@include mu-max-height((), (), map-merge($spacing, $sizing));
// #endregion SIZING

// #region EFFECTS
@include mu-box-shadow((hover, focus, active, group-hover, group-active));
@include mu-opacity(
	(hover, focus, active, group-hover, group-active),
	(),
	$opacities
);
// #endregion EFFECTS

// #region INTERACTIVITY
@include mu-cursor((hover, focus, active, group-hover, group-active));
@include mu-outline((hover, focus, active, group-hover, group-active));
@include mu-pointer-events();
@include mu-resize();
// #endregion INTERACTIVITY

// #region TRANSFORM
@include mu-transform();
@include mu-transform-origin();
@include mu-translate();
@include mu-scale();
@include mu-rotate();
// #endregion TRANSFORM

// #region TRANSITIONS
@include mu-transitions(
	(),
	(),
	(
		width: width,
		height: height,
		transform: transform,
		border-color: border-color,
		padding: padding,
		rx: rx,
		border-radius: border-radius
	)
);
// #endregion TRANSITIONS

@include mu-init();
